Repository thomasvincent/chef-httpd-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: chef-syntax, json-syntax, yaml-syntax, erb-syntax

chef-syntax:
  name: Chef Syntax Check
  entry: bash -c 'find . -name "*.rb" -not -path "./vendor/*" -exec ruby -c {} \;'
  language: system
  pass_filenames: false

json-syntax:
  name: JSON Syntax Check
  entry: bash -c 'find . -name "*.json" -not -path "./vendor/*" -exec python -m json.tool {} /dev/null \;'
  language: system
  pass_filenames: false

yaml-syntax:
  name: YAML Syntax Check
  entry: bash -c 'find . -name "*.yml" -o -name "*.yaml" | grep -v vendor | xargs -I {} python -c "import yaml; yaml.safe_load(open(\"{}\"))"'
  language: system
  pass_filenames: false

erb-syntax:
  name: ERB Template Syntax Check
  entry: bash -c 'find templates -name "*.erb" -exec erb -P -x -T "-" {} \; | ruby -c'
  language: system
  pass_filenames: false

fix: resolve cookstyle violations in integration tests
  .claude/settings.local.json
  Dockerfile.dev
  Policyfile.lock.json
  spec/spec_helper.rb
  spec/unit/resources/httpd_config_spec.rb
  spec/unit/resources/httpd_install_spec.rb
  spec/unit/resources/httpd_module_spec.rb
  spec/unit/resources/httpd_service_spec.rb
  spec/unit/resources/httpd_vhost_spec.rb
  test/integration/advanced-logging/advanced_logging_spec.rb
  test/integration/default/default_spec.rb
  test/integration/http3/http3_spec.rb
  test/integration/modules/modules_spec.rb
  test/integration/multi-vhost/multi_vhost_spec.rb
  test/integration/performance-tuning/performance_tuning_spec.rb
  test/integration/prefork-mpm/prefork_mpm_spec.rb
  test/integration/security-hardening/security_hardening_spec.rb
  test/integration/source/source_spec.rb
  test/integration/ssl/ssl_spec.rb
  test/integration/telemetry/telemetry_spec.rb
  test/integration/zero-downtime/zero_downtime_spec.rb
Due: chef-syntax, json-syntax

fix: remove zypper dependency causing ChefSpec failures
  metadata.rb
Due: chef-syntax

fix: restore original CI workflow after fixing zypper dependency
  .claude/settings.local.json
  Policyfile.lock.json
Due: json-syntax

fix: add timeout and error handling to ChefSpec tests in CI
  .github/workflows/ci.yml
Due: yaml-syntax

fix: increase ChefSpec timeout to 15 minutes
  .github/workflows/ci.yml
Due: yaml-syntax

fix: implement basic CI workflow to address performance issues
  .claude/settings.local.json
  .github/workflows/ci-basic.yml
  .github/workflows/ci.yml
Due: json-syntax, yaml-syntax

fix: make Cookstyle Analysis workflow work without code scanning
  .github/workflows/rubocop.yml
Due: yaml-syntax

fix: resolve all cookstyle violations
  .claude/settings.local.json
  compliance/profiles/httpd/controls/base.rb
  compliance/profiles/httpd/controls/security.rb
  libraries/ops_actions.rb
Due: chef-syntax, json-syntax

chore: remove legacy files and clean up cookbook structure
  .claude/settings.local.json
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  .github/workflows/rubocop.yml
  .gitignore
  .kitchen.dokken.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  .vscode/tasks.json
  Policyfile.lock.json
  chefignore
  compliance/waiver.yml
  docker-compose.yml
  kitchen.yml
Due: json-syntax, yaml-syntax

feat: add Docker testing support with Dokken driver
  .kitchen.yml
Due: yaml-syntax

chore: update Dependabot configuration
  .github/dependabot.yml
Due: yaml-syntax

feat: add pre-commit hooks for ruby_chef
  .pre-commit-config.yaml
  .secrets.baseline
Due: yaml-syntax

chore: bump actions/checkout from v5 to v6
  .github/workflows/ci-basic.yml
Due: yaml-syntax

chore: bump actions/checkout from v5 to v6 (#11)
  .github/workflows/ci-basic.yml
Due: yaml-syntax

feat: add pre-commit hooks for ruby_chef (#10)
  .pre-commit-config.yaml
  .secrets.baseline
Due: yaml-syntax

Fix Gemfile: downgrade RSpec to 3.12.0 for ChefSpec compatibility
  Gemfile
Due: none

chore: bump version to 1.1.0 and update dependencies
  metadata.rb
Due: chef-syntax

feat: apache 2.4, ssl, tests, CI
  .github/workflows/ci.yml
  README.md
  kitchen.yml
  metadata.rb
  recipes/ssl.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/ssl_spec.rb
  templates/ssl-hardening.conf.erb
  test/integration/ssl/default_test.rb
Due: chef-syntax, yaml-syntax, erb-syntax

chore: add MIT LICENSE
  LICENSE
Due: none

chore: add Apache-2.0 LICENSE
  LICENSE
Due: none

Path conditions:
  chef-syntax: any of: \.rb$, but not: (?x)^(
  vendor/.*|
  .kitchen/.*|
  Policyfile.lock.json
)$
  json-syntax: any of: \.json$, but not: (?x)^(
  vendor/.*|
  .kitchen/.*|
  Policyfile.lock.json
)$
  yaml-syntax: any of: \.(yml|yaml)$, but not: (?x)^(
  vendor/.*|
  .kitchen/.*|
  Policyfile.lock.json
)$
  erb-syntax: any of: \.erb$, but not: (?x)^(
  vendor/.*|
  .kitchen/.*|
  Policyfile.lock.json
)$
