Repository thomasvincent/chef-httpd-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: cookstyle, foodcritic

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.8
    hooks:
      - id: rubocop
        name: Rubocop
        args: ['--auto-correct']

  - repo: local
    hooks:
      - id: cookstyle
        name: Chef Cookstyle
        entry: cookstyle
        language: system
        files: '\.rb$'
        pass_filenames: true
        args: ['--auto-correct']

      - id: foodcritic
        name: Chef Foodcritic
        entry: bash -c 'if command -v foodcritic &> /dev/null; then foodcritic . -f any; fi'
        language: system
        pass_filenames: false
        files: '(recipes|attributes|libraries|providers|resources)/.*\.rb$'

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: {max: 120}}}']

fix: resolve test failures and lint issues
  .rspec
  libraries/yaml_processor.rb
  spec/unit/libraries/resource_helpers_spec.rb
  spec/unit/libraries/telemetry_spec.rb
  spec/unit/libraries/vault_helpers_spec.rb
  spec/unit/libraries/yaml_config_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/resources/httpd_config_spec.rb
  spec/unit/resources/httpd_module_spec.rb
  spec/unit/resources/httpd_service_spec.rb
  spec/unit/resources/httpd_vhost_spec.rb
Due: cookstyle, foodcritic

fix(ci): fix Ruby syntax check command in CI workflow
  .github/workflows/ci.yml
Due: none

fix: resolve cookstyle offenses in ssl recipe
  recipes/ssl.rb
Due: cookstyle, foodcritic

fix(ci): add missing rspec_junit_formatter gem
  Gemfile
  Gemfile.lock
Due: none

fix(ci): use ln_sf to handle broken symlinks in spec_helper
  spec/spec_helper.rb
Due: cookstyle

fix(ci): add missing kitchen-inspec gem for integration tests
  Gemfile
  Gemfile.lock
Due: none

fix(specs): resolve all 134 ChefSpec test failures
  metadata.rb
  recipes/ssl.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/ssl_spec.rb
Due: cookstyle, foodcritic

fix(ci): align CI matrix with kitchen.yml suites and platforms
  .github/workflows/ci.yml
  Gemfile
Due: none

fix(ci): regenerate Gemfile.lock after adding chef-cli
  Gemfile.lock
Due: none

fix(ci): use current Chef Docker image tag for dokken
  kitchen.yml
Due: none

fix(ci): use chef/chef:18 docker image tag
  kitchen.yml
Due: none

fix: docker/setup-buildx-action@v4 does not exist, use v3
  .github/workflows/ci.yml
Due: none

fix: remove cross-resource notification causing run_action error
  recipes/service.rb
  resources/service.rb
Due: cookstyle, foodcritic

Use self-hosted runners for integration tests
  .github/workflows/ci.yml
Due: none

Use self-hosted runners for integration tests (#19)
  .github/workflows/ci.yml
Due: none

Migrate all CI jobs to self-hosted DigitalOcean runners
  .github/workflows/ci.yml
Due: none

Fix CI psych gem compilation errors with Ruby 3.3
  Gemfile
Due: none

Update Gemfile.lock with psych < 5 constraint
  Gemfile.lock
Due: none

Fix CI psych gem compilation errors with Ruby 3.3 (#23)
  Gemfile
  Gemfile.lock
Due: none

chore: clean up project root
  .claude/settings.local.json
  CLAUDE.md
Due: none

docs: enhance README with Recipes section and improve structure
  .gitignore
  README.md
Due: none

fix: remove per-test coverage report causing 30min timeout
  spec/spec_helper.rb
Due: cookstyle

Increase CI timeout for ChefSpec tests to 45 minutes
  .github/workflows/ci.yml
Due: none
